@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Narrow&family=Roboto+Condensed:wght@300&display=swap');
:root{
    --main-dark: #2c1919;
    --main-medium: #a53737;
    --main-light: #d68376;
    --main-lighter: #E4E0E0;
}

/* generals */
body{
    /* font-family: 'Roboto Condensed', sans-serif;
    padding: 0%;
    margin: 0%;
    background-color: var(--main-lighter); */
}

h2{
    /* font-family: 'Anton', sans-serif;
    color: var(--main-dark); */
    font-weight: bolder;
    font-size: 3em;
    margin: 1%;
} 

/* header */
header{
    /* display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #dbd7d7be;
    z-index: 10;
    padding: 0.5em; */
}

.navBar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

img.logo{
    width: 100px;
}

h1{
    /* font-family: "Anton", sans-serif;
    color: var(--main-dark); */
    font-size: 4em;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 2%;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
}

a{
    font-size: 2em;
    font-weight: 500;
    text-decoration: none;
    color: var(--main-medium);
    padding: 2%;
}

/* presentation */
section.presentation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
    padding: 2%;
    background-color: #f0eeeec2;
    border-radius: 10px;
}

.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img.team{
    border-radius: 10px;
}

blockquote{
    font-size: 2em;
}

/* missions */
section.missions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
    padding: 2%;
    background-color: #f0eeeec2;
    border-radius: 10px;
}

iframe{
    padding: 1%;
}

blockquote.missions{
    font-size: 1.5em;
    text-align: center;
}









